{% extends 'navbars/navbar_profile.html' %}
{% block content %}
    <style>
        /* CSS design by @jofpin */
        @import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
        @import url(http://weloveiconfonts.com/api/?family=entypo);

        [class*="entypo-"]:before {
            font-family: 'entypo', sans-serif;
        }

        body {
            margin: 0;
            height: 100%;
            background-image: linear-gradient(to top, #dcaf74 0%, #fdf7e7 100%);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .title-pen {
            color: #333;
            font-family: "Coda", sans-serif;
            text-align: center;
        }

        .title-pen span {
            color: #81562b;
        }

        .user-profile {
            margin: auto;
            width: 40em;
            height: 23em;
            background-image: linear-gradient(to top, #81562b 0%, #fdf7e7 100%);
            border-radius: .3em;
        }

        .user-profile .username {
            margin: auto;
            margin-top: -7em;
            margin-left: 13em;
            color: #81562b;
            font-size: 1.53em;
            font-family: "Coda", sans-serif;
            font-weight: bold;
        }

        .user-profile .bio {
            margin: auto;
            display: inline-block;
            margin-left: 22.7em;
            color: #e76043;
            font-size: .87em;
            font-family: "varela round", sans-serif;
        }

        .user-profile > .description {
            margin: auto;
            margin-top: 1.35em;
            margin-right: 9.43em;
            width: 14em;
            color: #462607;
            font-size: .87em;
            font-family: "varela round", sans-serif;
        }

        .user-profile > img.avatar {
            padding: .7em;
            margin-left: 4em;
            margin-top: 3em;
            height: 13.23em;
            width: 13.23em;
            border-radius: 18em;
        }

        .user-profile ul.data {
            margin: 7.9em auto;
            height: 3.70em;
            background: #81562b;
            text-align: center;
            border-radius: 0 0 .3em .3em;
        }

        .user-profile li {
            margin: 0 auto;
            padding: 1.30em;
            width: 33.33334%;
            display: table-cell;
            text-align: center;
        }

        .user-profile span {
            font-family: "varela round", sans-serif;
            color: #e3eeee;
            white-space: nowrap;
            font-size: 1.27em;
            font-weight: bold;
        }

        .user-profile span:hover {
            color: #daebea;
        }

        footer > h1 {
            display: block;
            text-align: center;
            clear: both;
            font-family: "Coda", sans-serif;
            color: #343f3d;
            line-height: 6;
            font-size: 1.6em;
        }

        footer > h1 a {
            text-decoration: none;
            color: #ea4c89;
        }
    </style>
    <h1 class="title-pen"><span>USER PROFILE</span></h1>
    <div class="user-profile">
        <img class="avatar"
                {% if profile.image_field %}
             src="{{ profile.image_field }}"
                {% else %}
             src="https://beaconsultlb.com/wp-content/uploads/2022/05/anonymous-avatar-icon-25.png"
                {% endif %}
             alt="profile_image"/>
        <div class="username">{{ profile.username }}</div>
        <div class="bio">
            {% if profile.is_superuser %}
                The god user is here!
            {% else %}
                Regular user
            {% endif %}
        </div>
        <div class="description">
            <br>
            {% if profile.first_name %}
                First name: {{ profile.first_name }}
            {% endif %}
            <br>
            {% if profile.last_name %}
                Last name: {{ profile.last_name }}
            {% endif %}
            <br>
            {% if profile.email %}
                Email: {{ profile.email }}
            {% endif %}
        </div>
        <ul class="data">
            <li>
                <span> Items for sale: {{ products.count }}</span>
            </li>

        </ul>
    </div>


{% endblock %}