{% extends 'navbars/test_navbar.html' %}
{% block content %}
    <style>
        /* CSS design by @jofpin */
        @import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
        @import url(http://weloveiconfonts.com/api/?family=entypo);

        [class*="entypo-"]:before {
            font-family: 'entypo', sans-serif;
        }

        body {
            background: #fffcdd;
            padding: 2.23em;
        }

        .title-pen {
            color: #333;
            font-family: "Coda", sans-serif;
            text-align: center;
        }

        .title-pen span {
            color: #55acee;
        }

        .user-profile {
            margin: auto;
            width: 25em;
            height: 11em;
            background: #fff;
            border-radius: .3em;
        }

        .user-profile .username {
            margin: auto;
            margin-top: -4.40em;
            margin-left: 5.80em;
            color: #658585;
            font-size: 1.53em;
            font-family: "Coda", sans-serif;
            font-weight: bold;
        }

        .user-profile .bio {
            margin: auto;
            display: inline-block;
            margin-left: 10.43em;
            color: #e76043;
            font-size: .87em;
            font-family: "varela round", sans-serif;
        }

        .user-profile > .description {
            margin: auto;
            margin-top: 1.35em;
            margin-right: 4.43em;
            width: 14em;
            color: #c0c5c5;
            font-size: .87em;
            font-family: "varela round", sans-serif;
        }

        .user-profile > img.avatar {
            padding: .7em;
            margin-left: .3em;
            margin-top: .3em;
            height: 6.23em;
            width: 6.23em;
            border-radius: 18em;
        }

        .user-profile ul.data {
            margin: 2em auto;
            height: 3.70em;
            background: #4eb6b6;
            text-align: center;
            border-radius: 0 0 .3em .3em;
        }

        .user-profile li {
            margin: 0 auto;
            padding: 1.30em;
            width: 33.33334%;
            display: table-cell;
            text-align: center;
        }

        .user-profile span {
            font-family: "varela round", sans-serif;
            color: #e3eeee;
            white-space: nowrap;
            font-size: 1.27em;
            font-weight: bold;
        }

        .user-profile span:hover {
            color: #daebea;
        }

        footer > h1 {
            display: block;
            text-align: center;
            clear: both;
            font-family: "Coda", sans-serif;
            color: #343f3d;
            line-height: 6;
            font-size: 1.6em;
        }

        footer > h1 a {
            text-decoration: none;
            color: #ea4c89;
        }
    </style>
    <h1 class="title-pen"><span>User profile</span></h1>
    <div class="user-profile">
        <img class="avatar"
             {% if profile.image_field %}
                src="{{ profile.image_field }}"
             {% else %}
                src="https://beaconsultlb.com/wp-content/uploads/2022/05/anonymous-avatar-icon-25.png"
             {% endif %}
             alt="profile_image"/>
        <div class="username">{{ profile.username}}</div>
        <div class="bio">
            {% if profile.is_superuser %}
            The god user is here!
            {% else %}
            Regular user
            {% endif %}
        </div>
        <div class="description">
            {% if profile.email %}
            {{ profile.email }}
            {% endif %}
        </div>
        <ul class="data">
            <li>
                <span> Number of items for sale: {{ products.count }}</span>
            </li>
{#            <li>#}
{#                <span class="entypo-eye"> 853</span>#}
{#            </li>#}
{#            <li>#}
{#                <span class="entypo-user"> 311</span>#}
            </li>
        </ul>
    </div>

{#    <section id="detailsPage">#}
{#        <div class="wrapper">#}
{#            <a href="{% url 'index' %}" class="remove">HOME PAGE</a>#}
{#            <a href="{% url 'profile edit' pk=request.user.pk %}" class="remove">Edit profile</a>#}
{#            <a href="{% url 'profile delete' pk=request.user.pk %}" class="remove">Delete profile</a>#}
{#            <a href="{% url 'add product' %}" class="remove">Add product</a>#}
{#            <div class="profilePage">#}
{#                <img src="#"#}
{#                     alt="Profile Image">#}
{#            </div>#}
{#            <img src="{{ profile }}" alt="Cover Image">#}
{#            <div class="profileText">#}
{#                <!-- Profile Info -->#}
{#                <h1>Username: {{ profile.username }}</h1>#}
{#                {% if profile.email %}#}
{#                    <h1>Email: {{ profile.email }}</h1>#}
{#                {% endif %}#}
{#                {% if profile.first_name %}#}
{#                    <h1>First Name: {{ profile.first_name }}</h1>#}
{#                {% endif %}#}
{#                {% if profile.first_name %}#}
{#                    <h1>Last Name: {{ profile.last_name }}</h1>#}
{#                {% endif %}#}
{##}
{#            </div>#}
{##}
{#            <div class="actionBtn">#}
{#                <!-- Button for Deleting the Profile -->#}
                {#            <a href="{% url 'profile delete' %}" class="remove">Delete</a>#}
                {#            <a href="{% url 'profile edit' %}" class="remove">Edit</a>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}

{% endblock %}